.designer{
    background-image: url("https://i.ibb.co/fqJLt33/removal-ai-8385b214-413f-40ca-9883-a363c3e72fe3-james-visual.png");
    background-size: cover;
    width: 12vw;
    height: 12vw;
    border-radius: 10em;
    cursor: pointer;


}