.table{
    width: 65vw;
    margin: 0;
}
.main{
    display: flex;
    padding: 5vw;
    justify-content: space-between;
    position: relative;
    border-bottom:1px solid rgba(0,0,0,0.2);
    margin-bottom: 1vw;
}
.slogan{
    width: 20vw;
    height: 20vw;

}
.logo{
    width: 4vw;
    height: 4vw;

}
.text{
    font-family: "Custom Bold",serif;
    font-size: 3vw;
    position: absolute;
    top:11vw;
    width: 26vw;
}
.veson{
    position: absolute;
    font-family: Shafigh,serif;
    font-size: 2.3vw;
    font-weight: 600;
    left: 10vw;
    top:5.7vw;
}