.header{
    font-family: "Custom Bold" ,serif;
    font-size: 6vw;
    font-weight: 280;
    padding-top: 3vw;
    padding-left: 5vw;

}
.filter{
    width: 30%;
    margin-left: auto;
}
.container{
    display: flex;
    align-items: center;
}