.item{
    padding: 2vw;
    margin-bottom: 2vw;
    position: relative;



}
.title{
    font-family: "Shafigh",serif;
    position: absolute;
    font-size: 1.4vw;
    font-weight: 600;
    left: 3vw;
}
.detail-button{


    position: absolute;
    font-size: 1.1vw;
    width: 5vw;
    height: 2.7vw;
    border-radius: 3rem;
    background: white;
    border: 1px solid black;
    bottom: -2vw;
    right: 2.2vw;
}
.detail-button:hover{
    border: 2px solid black;
}
.price{
    position: absolute;
    bottom: -2vw;
    left: 3vw;
    font-family: "Custom Bold";
    font-size: 1.5vw;
    font-weight: 300;
}
.image{
    cursor: pointer;
    border-radius: 2rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 21vw;
    height:32vw;
    transition: filter 0.5s ease;

}
.cartbtn{

    pointer-events:none;
    background: none;
    transition: all 0.5s ease;
    font-family: Shafigh,serif;
    position: absolute;
    width: 10vw;
    height: 3vw;
    top:20vw;
    font-size: 1.3vw;
    left: 7.5vw;
    border: 1px solid white;
    color: white;
}

.sizebtn{
    background: none;
    pointer-events:none;
    transition: all 0.5s ease;
    font-family: Shafigh,serif;
    position: absolute;
    border: none;
    color: white;

    width: 10vw;
    height: 3vw;
    top:24vw;
    font-size: 1.3vw;
    left: 7.5vw;
}