.navbar{
    background-color: rgba(256,256,256,0.94);
    width: 100%;
    position: fixed;
    display: flex;
    padding-left: 5%;
    height: 10%;
    top: 0;

}
.navbar:hover{
    background-color: white;
}
.search{
    margin-left: auto;
    margin-right: 8%;

}