.container{
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}
.logo{
    width: 20px;
    height: 20px;
    padding: 10px;
}
.text{
    font-weight: 430;
    font-size: 1.7vw;
    cursor: pointer;
}